.container {
    max-width: 855px;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:visited {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:hover {
    text-decoration: none;
    color: black;
}

.topnav {
    background-color: rgb(255, 255, 255);

    padding: 0.2%;
    height: 33px;
    border-bottom: purple;
    border-bottom-style: solid;

    font-size: larger;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

#name {
    
    font-size: larger;
    font-weight: bold;

    margin-top:0%;
}

#blog {
    color: black;
}

.topnav a {
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 14px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.blog {
    max-width: 700px;
    margin: auto;
}
.rightbar {
    max-width: 155px;
    margin: auto;
    height: 859px;
    

    border-left: purple;
    border-left-style: solid;
}


footer {
    
    border-top: purple;
    border-top-style: solid;
    bottom: 0;
    

    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    text-align: center;

}

footer p {
    width: 30%;
}
