.container {
    max-width: 855px;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(57, 41, 41);
}

a:visited {
    text-decoration: none;
    color: rgb(57, 48, 48);
}

a:hover {
    text-decoration: none;
    color: black;
}

.topnav {
    background-color: rgb(255, 255, 255);

    padding: 0.2%;
    height: 33px;
    border-bottom: rgb(113, 54, 148);
    border-bottom-style: solid;

    font-size: larger;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

#name {
    
    font-size: larger;
    font-weight: bold;

    margin-top:0%;
}

#blog {
    color: black;
}

.topnav a {
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 14px;
}

footer {
    position: fixed;
    bottom: 0;
}