.container {
    max-width: 855px;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(57, 41, 41);
}

a:visited {
    text-decoration: none;
    color: rgb(57, 48, 48);
}

a:hover {
    text-decoration: none;
    color: black;
}

.topnav {
    background-color: rgb(255, 255, 255);

    padding: 0.2%;
    height: 33px;
    border-bottom: rgb(113, 54, 148);
    border-bottom-style: solid;

    font-size: larger;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

#name {
    
    font-size: larger;
    font-weight: bold;

    margin-top:0%;
}

#games{
    color: black;
}

.topnav a {
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 14px;
}

footer {
    border-top: purple;
    border-top-style: solid;
    bottom: 0;
    

    display: flex;
    justify-content: space-evenly;
    margin-top: 59px;
    text-align: center;

}

footer p {
    width: 30%;
}


.content {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: justify;
}

.subheader {
    color: black;
    text-align: center;
    margin: auto;
    max-width: 400px;
}

.subheader h1 {
    margin-top: 35px;
}