a {
    text-decoration: none;
    color: rgb(57, 41, 41);
}

a:visited {
    text-decoration: none;
    color: rgb(57, 48, 48);
}

a:hover {
    text-decoration: none;
    color: black;
}


.topnav {
    background-color: blanchedalmond;

    margin-right: 24%;
    margin-left: 24%;
    padding: 0.5%;

    font-size: larger;

    overflow: hidden;
}


#name {
    color: black;

    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.topnav a {
    margin: 5%;
}